@{
  Layout = "_Layout";
}

@using GameTracker.Models;
@model List<GameTracker.Models.Game>;

<h1>GAMES</h1>


<h1>Games for @User.Identity.Name</h1>

@if (Model.Any())
{
  @foreach (Game game in Model)
  {
    <p>@Html.ActionLink($"{game.Title}", "Details", new { id = game.GameId })</p>
  }
} 
else
{
  <h3>No games have been added yet!</h3>
}

<p>@Html.ActionLink("Add new Game", "Create")</p>