@{
  Layout = "_Layout";
}

@model GameTracker.Models.Platform

<h4>Add a new platform</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add new platform" />
}
<p>@Html.ActionLink("Show all platforms", "Index")</p>