@{
  Layout = "_Layout";
}

@using GameTracker.Models

<h1>Platforms</h1>

@if (@Model.Count == 0)
{
  <h3>No platforms have been added yet!</h3>
} 

<ul>
  @foreach(Platform platform in Model)
  {
    <li>@Html.ActionLink($"{platform.Name}", "Details", new { id = platform.PlatformId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new platform", "Create")</p>
